<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注文画面</title>
</head>
<body>
	<form action="/order" method="post">
		<p><input type="text" name="name" placeholder="お名前" required></p>
		<p><input type="number" name="orderHamburger" placeholder="ハンバーガー" required></p>
		<p><input type="number" name="orderPotato" placeholder="ポテト" required></p>
		<p><input type="number" name="orderCola" placeholder="コーラ" required></p>
		<input type="submit" value="注文">
	</form>
</body>
</html>